name: Simple Build and Push

on:
  push:
    branches:
      - master
  workflow_dispatch: 

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # GHCR에 이미지를 업로드하기 위해 필수

    steps:
      - name: Checkout elabimg repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          # 일반적인 서버(Intel/AMD)용으로만 빌드하여 속도 향상
          platforms: linux/amd64
          build-args: |
            ELABFTW_VERSION=master
            BUILD_ALL=1
          tags: |
            ghcr.io/${{ github.repository_owner }}/elabimg:latest
          # 빌드 속도를 높이기 위한 캐시 설정
          cache-from: type=gha
          cache-to: type=gha,mode=max